.create-service {
    display: flex;
    margin-bottom: 10px;
}
.service-url {
    padding-left: 20px;
}
.create-button {
    margin-left: 16px;
    font-family: Seravek, serif;
    font-size: 16px;
    border: 1px solid green;
    border-radius: 5px;
    width: 72px;
    height: 25px;
}
.loading {
    background-image: url("../../images/loading.gif");
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.hide {
    display: none;
}
