.service {
  display: flex;
}
.content {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button {
  margin-left: 16px;
  font-family: Seravek, serif;
  font-size: 16px;
  border: 1px solid green;
  border-radius: 5px;
  width: 72px;
  height: 25px;
}

.input-content {
  height: 20px;
}

.wrapper-display {
  display: flex;
  width: 49%;
}
